<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
	  {%- for state in states_list %}
	    <LI>{{ state[1].id }}: <B>{{ state[1].name }}</B></LI>
	        <UL>
	          {%- for state_city in cities_list %}
		    {%- if state_city[0] == state[1].id %}
		    <LI>{{ state_city[0] }}: <B>{{ state_city[1] }}</B></LI>
		    {%- endif %}
		  {%- endfor %}
		</UL>
	    </LI>
          {%- endfor %}
        </UL>
    </BODY>
</HTML>
